* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(52, 52, 45);
}

#container {
  background-color: white;
  position: relative;
  margin: auto;
  margin-top: 250px;
  width: 270px;
  height: 300px;
  overflow: hidden;
}

#container2 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 810px;
  height: 270px;
  transition: 1s;
}

#container2 img{
  width: 250px;
  height: 250px;
}

#button {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  width: 70px;
}
